<div class="card border-primary">
  <div class="card-body">
    <%= form_with model: [:admin, @badge], local: true do |form| %>
      <div class="form-group">
        <%= render "shared/errors", resource: @badge %>
        <p>
          <%= form.label :title %>
          <%= form.text_field :title %>
        </p>
        <br>
        <p>
          <%= form.label :image %>
          <%= form.text_field :image %>
        </p>
        <br>
        <p>
          <%= form.label :rule_id %> <br>
          <%= form.collection_select :rule_id, BadgesRule.all, :id, :name, prompt: true %>
        </p>
        <%= form.submit %>
      </div>
    <% end %>
  </div>
</div>
