<div class="card justify-content-center mt-3 border-primary">
  <div class="col col-md-4">
    <h1> <%= t('.header') %></h1>
    <p> 
      <% if @test_passage.success? %> 
        <h3> <b> <%= t('.success_header', title: @test_passage.test.title) %> </b> </h3>
        <h3 class="alert alert-success" role="alert"> <b> <%= t('.result') %> <%= @test_passage.pass_rate %> % </b> </h3>
      <% else %>
        <h3> <%= t('.unsuccess_header', title: @test_passage.test.title) %> </h3>
        <h3 class="alert alert-danger" role="alert""> <b> <%= t('.result') %> <%= @test_passage.pass_rate %> % </b> </h3>
      <% end %>
    </p>
    <%= link_to t('.back_to_tests'), tests_path %>
  </div>
</div>
