<div class="card justify-content-center mt-3 border-primary">
  <div class="col col-md-4">

	<p> <b> <%= t('.question') %> </b> <%= @answer.question.body %> </p>

	<p> <b> <%= t('.answer') %> </b> <%= @answer.body %> </p>

	<p> <b> <%= t('.correct') %> </b> <%= @answer.correct %> </p>

	<%= link_to t('.back_to_answer'), admin_question_path(@answer.question) %>
 </div>
</div>
