<h1> <%= t('.create_question', title: question_header(@question)) %> </h1>

<%= form_with model: [:admin, @test, @question], local: true do |form| %>
  <%= render 'shared/errors', resource: @question %>

  <p>
    <%= form.label :question %><br>
    <%= form.text_field :body, id: :question_body %>
  </p>

  <p> <%= form.submit %> </p>

<% end %> 

<%= link_to t('.back_to_test'), admin_test_path(@test) %>
