<div class="card justify-content-center mt-3 border-primary">
  <div class="col col-md-4">
    <h3> <%= t(".title")%> <%=@test.title %> </h3>
    <h3> <%= t(".level")%> <%= @test.level %> </h3>
    <h3> <%= t(".timer")%> <%= @test.timer %> </h3>
    <h3> <%= t(".questions") %> </h3>

    <ol> <%= render @test.questions  %> <br> </ol>

    <%= link_to t(".create_question"), new_admin_test_question_path(@test), class: "btn btn-primary" %> <br>
    <%= link_to t(".edit"), edit_admin_test_path(@test) %> <br>
    <%= link_to t(".back_to_tests"), admin_tests_path %>
  </div>
</div>
